.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
.beech {
    margin: auto;
    margin-top: 5%;
    width: 50%;
    padding: 10px;
   text-align: center;
  }

/*Desktop view */
@media only screen and (min-width: 800px) {
.left1{
    padding-left: 60px;
}
.left2{
    padding-left: 20px;
}
.left3{
    padding-left: 370px;
}
.left4{
    padding-left: 20px;
}
}

@media (min-width: 481px) and (max-width: 799px) {

}
@media  (max-width: 430px) {

}


    